unpackaged/main/default/flows/CMM_AccountAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignSubscriptionCollection</name>
        <label>AssignSubscriptionCollection</label>
        <locationX>694</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>SubscriptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getSubscriptionRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordsFound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RecordsFound</name>
        <label>RecordsFound?</label>
        <locationX>831</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordsFound1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingeVoucherAdministration</targetReference>
            </connector>
            <label>RecordsFound?</label>
        </rules>
        <rules>
            <name>RecordsNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscriptionCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>RecordsNotFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CMM_AccountAfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CMM_AccountAfterInsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSubscriptionRecords</name>
        <label>getSubscriptionRecords</label>
        <locationX>549</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignSubscriptionCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharma</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ExistingeVoucherAdministration</name>
        <label>updateExistingeVoucherAdministration</label>
        <locationX>842</locationX>
        <locationY>218</locationY>
        <inputAssignments>
            <field>ExistingeVoucherAdministration__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>150</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>getSubscriptionRecords</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SubscriptionCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
