unpackaged/main/default/flows/TestQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asv</name>
        <label>asv</label>
        <locationX>820</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>collectionQL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getRecordsQL.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recordsFound</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>recordsFound</name>
        <label>recordsFound</label>
        <locationX>817</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>recordsFound1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionQL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateRecords</targetReference>
            </connector>
            <label>recordsFound</label>
        </rules>
        <rules>
            <name>recordNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>collectionQL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>recordNotFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>TestQuote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestQuote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordsQL</name>
        <label>getRecordsQL</label>
        <locationX>666</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ProductName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pharma</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>479</locationX>
        <locationY>266</locationY>
        <inputAssignments>
            <field>CountNewToTherapy__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>316</locationX>
        <locationY>18</locationY>
        <connector>
            <targetReference>getRecordsQL</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collectionQL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
